#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.slideOut {
  animation: slideOut 1s;
}

#itemForm {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 40px;
}

#itemForm label {
  font-size: 25px;
  margin: 10px 0;
}

#itemForm input, #itemForm select {
  font-size: 20px;
  padding: 5px;
  margin: 10px 0;
}

#itemForm button {
  font-size: 25px;
  width: fit-content;
  align-self: center;
  margin-top: 20px;
}

#submit {
  position: absolute;
  bottom: 155px;
  overflow: hidden;
  animation: slideIn 1s;
}

#btns button {
  font-size: 18px;
  margin: 70px 10px 0;
}

#itemList {
  display: flex;
  flex-flow: column wrap;
}

#itemList ul {
  list-style-type: '>';
  padding: 0;
}

#itemList li {
  max-width: 60vw;
  width: auto;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin: 20px 0;
  border-bottom: 2px solid #0009;
}

#itemList p {
  margin: 0 30px 0 10px;
  text-align: left;
}

#itemList p:first-child {
  font-weight: bold;
}

#itemList img {
  width: 20px;
  height: 20px;
  padding: 0;
  align-self: flex-start;
  margin-top: 5.5px;
}

#itemList div {
  margin-left: 0;
  max-width: 50vw;
}

#itemList li button {
  display: flex;
  align-items: center;
  padding: 10px;
}

#itemList button img {
  width: 10px;
  height: 10px;
  margin: 0;
}

#popup {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: fit-content;
  height: fit-content;
  background-color: #fff9;
  border-radius: 10px;
  animation: pop 5.5s;
}

#popup p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: black;
}